*, *::after, *::before {
    box-sizing: border-box;
}
html {
    background-color: rgb(62, 61, 61);
    color: silver;
    font-family: monospace;
    background-image: linear-gradient(rgba(75, 75, 75, 0.7), rgba(75, 75, 75, 0.7)), url("./chalkboard.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
    justify-content: center;
    display: flex;
    position: relative;
    /* min-height: 100%; */
    /* margin-bottom: 1rem; */
    /* margin-left: 50vmin;  */
    /* margin-right: 40vmin;  */
    /* height: 100vmin; */
    overflow: auto;
    width: 100vmax;
    margin: 0 auto;
}

#wrapper {
    /* background-image: linear-gradient(rgba(75, 75, 75, 0.7), rgba(75, 75, 75, 0.7)), url("./chalkboard.jpg");
    background-size: 125%;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat; */

    display: flex;
    flex-direction: column;
    border: 1px solid silver;
    border-radius: 10px;
    margin-left: 6.5rem;
    margin-right: 6.5rem;
    margin-top: 2rem;
    width: 28.5rem;
    height: 30rem;
    padding: 1rem;
    justify-self: center;
    justify-content: center;
}

h2 {
    color: orange;
}

#welcome {
    background-color: transparent;
    width: 26rem;
    text-align: center;
    display: flex;
    justify-content: center;
}

#aDisplay,#bDisplay {
    color: cyan;
}

#display {
    background-color: transparent;
    border: 1px solid silver;
    margin-left: 0.25rem;
    padding-right: 1rem;
    width: 26rem;
    text-align: end;
}

#buttons {
    display: flex;
    flex-direction: row;
    width: 26rem;
}

#numbers {
    background-color: transparent;
    font-size: xx-large;
    width: 50rem;
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 auto;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
}

#operators {
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 auto;
    width: 37rem;
    justify-content: center;
    align-items: flex-end;
    gap: 1rem;
    padding-bottom: 1rem;
}

button {
    background-color: transparent;
    border: 1px solid silver;
    color: silver;
    font-weight: bolder;
    font-size: large;
    transition: all .2s ease-in-out;
    width: 4rem;
    height: 4rem;
    border-radius: 8px;
}

#numbers>#btnDel {
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    background-color: lime;
    color: black;
    border: 1px solid silver;
    transform: scale(1.15);
}

.hover {
    background-color: lime;
    color: black;
    border: 1px solid silver;
    transform: scale(1.15);
}

.footer {
    bottom: -3rem;
    left: 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-left: 5rem;
    margin-top: 1rem;
    width: 30rem;
}

.footer>a>img {
    max-height: 30px;
    transition: transform 0.5s ease-in-out;
}

.footer>a>img:hover {
    transform: scale(-1, 1) scale(1);
    opacity: 33%;
}